.unit {
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(140, 160, 184);
  /* border: 4px solid rgb(30, 78, 110); */
  margin-left: 5%;
  margin-right: 5%;
  transition: transform 0.2s;
}

.unit:hover {
  cursor: pointer;
  transform: scale(1.015);
}
.unit h3 {
  margin-right: 5vw;
  color: rgb(0, 0, 0);
  padding: 2px;
}
.unitName {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.deleteHolder {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}
.delete {
  background: rgb(236, 75, 75);
  border: 1px solid rgb(199, 31, 31);
  padding: 2%;
  border-radius: 10px;
}
.delete:hover {
  background: rgb(236, 126, 126);
}
