.battleLog {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 92%;
  height: 13%;
  min-height: 13%;
  background: #cfcfb8;
  transition: transform 0.2s;
  margin: 5px;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
}
.battleLog:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.logDetail {
  display: flex;
  align-items: center;
  width: 10%;
  min-width: 10%;
  padding-left: 2%;
  border-left: 2px solid #3b87a6;
  height: 90%;
}
.battleName {
  font-weight: bolder;
  width: 20%;
  max-width: 20%;
  min-width: 20%;
}
.winner {
  display: flex;
  justify-content: center;
  align-items: center;
}
