.unitcontainer {
  /* border: 3px solid rgb(30, 78, 110); */
  background: #3b87a6;
  padding-bottom: 7px;
  width: 88%;

  margin-bottom: 3vw;
}
.containerheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #015178;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.containerheader h2 {
  margin: 1px;
  color: rgb(202, 217, 228);
}

@media (screen-width: 800px) {
  .unitContainer {
    width: 95%;
  }
}
