.groupSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20%;
  height: 98%;
  background: #cfcfb8;
  margin-left: 2%;
  box-shadow: 0 0 6px rgb(0, 0, 0);
}
.groupSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.groupSection form button {
  width: 70%;
}
.groupSection form input {
  width: 70%;
}
.groupList {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loadingSpinner {
  width: 15vh;
  height: 15vh;
}
@media (max-width: 800px) {
  .loadingSpinner {
    width: 5vh;
    height: 5vh;
  }
}
