.phase {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 40px;
  background: linear-gradient(to top left, #bc9036, #ecdcbe);
  font-size: 1.6vw;
  text-align: center;
  padding: 1.5vw;
  border: 2px solid;
  border-radius: 10px 0px 10px 0px;
}
