.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 3px solid rgb(30, 78, 110); */
  background: #3b87a6;
  width: 50%;
  margin-top: 10%;
  padding: 1rem;
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error {
  margin: 5px;
  padding: 5px;
  background: rgb(153, 0, 0);
  color: rgb(0, 0, 0);
}
.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authForm label {
  color: rgb(29, 29, 29);
}
.toggleForm {
  background: none !important;
  border: none;
  padding: 0 !important;

  color: rgb(153, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}

input {
  margin: 3px;
}
